version: '3.8'

services:
  nginx-proxy:
    image: nginx:alpine
    container_name: myfinance-nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./blue-green.conf:/etc/nginx/conf.d/default.conf
      - ./nginx.conf:/etc/nginx/nginx.conf
      - nginx_logs:/var/log/nginx
    environment:
      - NGINX_UPSTREAM=${NGINX_UPSTREAM:-blue}
    networks:
      - myfinance-network

volumes:
  nginx_logs:
    driver: local

networks:
  myfinance-network:
    external: true
    name: myfinance-network